.header{
    width: 100%;
    height: 100vh;
    background-image: url('https://images01.nicepage.com/cb/dc/cbdcdba2c3d2a70b362554a6b4fd749a.jpeg');
    background-size: cover;
    background-position: center;
    &__h1{
        font-weight: 400;
        font-size: $font1;
        font-family: 'Oswald', sans-serif;
        color: $color_1;
        margin-top: $spacer-1;
        margin-left: $spacer-2;
    }
}