.sec{
    width: 100%;
    height: 70vh;
    // background-color: aqua;
    display: flex;
    margin-top: 180px;
    margin-left: 100px;
  
  
    
}
// media query
@media screen and (max-width:600px) {
.sec{
    margin-left: 0px;
    margin-top: 10px;
    height: auto;
    display: block;
    overflow-x: hidden;
}
}